[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scrapy = "*"
"bs4" = "*"
requests = "*"
"pickle5" = "*"
pymarc = "*"
url = "*"

[dev-packages]

[requires]
python_version = "3.6"
